### Проект 1. Кто хочет стать миллионером?

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [2]:
data = pd.read_csv('./data/data.csv')
data.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015

In [3]:
data.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000

В датасете фильмы представлены следующим набором признаков :    
1. imdb_id - идентификатор фильма в базе данных IMDB  
2. popularity - рейтинг популярности фильма 
3. budget - бюджет фильма  
4. revenue - доход, который принес фильм   
5. original_title - оригинальное название  
6. cast - актерский состав фильма  
7. director - режиссер фильма  
8. tagline - слоган фильма  
9. overview - краткое содержание фильма  
10. runtime - продолжительность фильма, мин.  
11. genres - жанры фильма  
12. production_companies - киностудии, участвующие в производстве фильма  
13. release_date - дата выхода фильма в прокат  
14. vote_count - количество голосов  
15. vote_average - рейтинг фильма  
16. release_year - год выхода (релиза) фильма

In [4]:
print(f'В файле сождержится информация о {data.shape[0]} фильмах.')
print(f'У каждого фильма {data.shape[1]} характеристик')

В файле сождержится информация о 1890 фильмах.
У каждого фильма 16 характеристик

In [5]:
# проверим пропуски и типы данных
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
imdb_id                 1890 non-null object
popularity              1890 non-null float64
budget                  1890 non-null int64
revenue                 1890 non-null int64
original_title          1890 non-null object
cast                    1890 non-null object
director                1890 non-null object
tagline                 1890 non-null object
overview                1890 non-null object
runtime                 1890 non-null int64
genres                  1890 non-null object
production_companies    1890 non-null object
release_date            1890 non-null object
vote_count              1890 non-null int64
vote_average            1890 non-null float64
release_year            1890 non-null int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

# Предобработка датасета

In [6]:
# создадим словарь с ответами на вопросы
answer_dict = {}

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:  
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way (tt1032751) верно
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [7]:
print(f'1. Cамый большой бюджет у фильма: {data.iloc[np.argmax(data.budget.values)].original_title}')

1. Cамый большой бюджет у фильма: The Warrior's Way

In [8]:
# тут вводим ваш ответ и добавлем в его список ответов 
# 4. The Warrior's Way	(tt1032751)
answer_dict[1] = 4

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [9]:
print(f'2. Cамый длительный (в минутах) фильм: {data.iloc[np.argmax(data.runtime.values)].original_title}')

2. Cамый длительный (в минутах) фильм: Gods and Generals

In [10]:
# 2. Gods and Generals (tt0279111)
answer_dict[2] = 2

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [11]:
print(f'3. Cамый короткий (в минутах) фильм: {data.iloc[np.argmin(data.runtime.values)].original_title}')

3. Cамый короткий (в минутах) фильм: Winnie the Pooh

In [12]:
# 3. Winnie the Pooh tt1449283
answer_dict[3] = 3

# 4. Средняя длительность фильма?  
Варианты ответов:  
1. 115  
2. 110  
3. 105  
4. 120  
5. 100

In [13]:
column = 'runtime'
print(f'4. Средняя длительность фильма: {data[column].mean()}')

4. Средняя длительность фильма: 109.65343915343915

In [14]:
# 2. 110
answer_dict[4] = 2

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [15]:
column = 'runtime'
print(f'5. Средняя длительность фильма по медиане: {data[column].median()}')

5. Средняя длительность фильма по медиане: 106.5

In [16]:
# 1. 106
answer_dict[5] = 1

# 6. Какой самый прибыльный фильм?  
Варианты ответов:  
1. The Avengers	tt0848228  
2. Minions	tt2293640  
3. Star Wars: The Force Awakens	tt2488496  
4. Furious 7	tt2820852  
5. Avatar	tt0499549

In [17]:
data['profit'] = data.revenue - data.budget
print(f'6. Cамый прибыльный фильм: {data.iloc[np.argmax(data.profit.values)].original_title}')

6. Cамый прибыльный фильм: Avatar

In [18]:
# 5. Avatar	tt049954
answer_dict[6] = 5

# 7. Какой фильм самый убыточный?  
Варианты ответов:  
1. Supernova tt0134983  
2. The Warrior's Way tt1032751  
3. Flushed Away	tt0424095  
4. The Adventures of Pluto Nash	tt0180052  
5. The Lone Ranger	tt1210819

In [19]:
print(f'7. Cамый убыточный фильм: {data.iloc[np.argmin(data.profit.values)].original_title}')

7. Cамый убыточный фильм: The Warrior's Way

In [20]:
# 2. The Warrior's Way tt1032751
answer_dict[7] = 2

# 8. Сколько всего фильмов в прибыли?  
Варианты ответов:  
1. 1478  
2. 1520  
3. 1241  
4. 1135  
5. 1398

In [21]:
count_pozitiv = len(data[data.profit > 0])
print(f'8. Всего в прибыли {count_pozitiv } фильмов.')

8. Всего в прибыли 1478 фильмов.

In [22]:
# 1. 1478
answer_dict[8] = 1

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:  
1. Madagascar: Escape 2 Africa	tt0479952  
2. Iron Man	tt0371746  
3. Kung Fu Panda	tt0441773  
4. The Dark Knight	tt0468569  
5. Mamma Mia!	tt0795421

In [23]:
from datetime import datetime
data.release_date = pd.to_datetime(data.release_date)

In [24]:
release_2008 = data[data.release_date.dt.year == 2008]
print(f'9. Cамый прибыльный фильм 2008 года: {release_2008.iloc[np.argmax(release_2008.profit.values)].original_title}')

9. Cамый прибыльный фильм 2008 года: The Dark Knight

In [25]:
# 4. The Dark Knight tt0468569
answer_dict[9] = 4

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?  
Варианты ответов:  
1. Winter's Tale	tt1837709  
2. Stolen	tt1656186  
3. Broken City	tt1235522  
4. Upside Down	tt1374992  
5. The Lone Ranger	tt1210819

In [26]:
release_12_14 = data[(data.release_date.dt.year >= 2012) & (data.release_date.dt.year <= 2014)]
print(f'10. Cамый убыточный фильм за период 2012-2014: {release_12_14.iloc[np.argmin(release_12_14.profit.values)].original_title}')

10. Cамый убыточный фильм за период 2012-2014: The Lone Ranger

In [27]:
# 5. The Lone Ranger tt1210819
answer_dict[10] = 5

# 11. Какого жанра фильмов больше всего?  
Варианты ответов:  
1. Action  
2. Adventure  
3. Drama  
4. Comedy  
5. Thriller

In [28]:
# столбец genres содержит разделитель '|' между названиями жанров
# на его основе создадим столбец, содержащий список (list),
# в котором будет перечисление жанров из этого фильма
# и создадим список жанров из всех фильмов
genres_all = []
data['genres_lst'] = [rec.split('|') for rec in data.genres]
for record in data.genres_lst:
    for item in record:
        genres_all.append(item)
        
print(f'11. Самый распространненный жанр: {pd.Series(genres_all).value_counts().index[0]}')

11. Самый распространненный жанр: Drama

In [29]:
# 3. Drama
answer_dict[11] = 3

# 12. Какого жанра среди прибыльных фильмов больше всего?  
Варианты ответов:  
1. Action  
2. Adventure 
3. Drama  
4. Comedy  
5. Thriller

In [30]:
genres_profit = [] # список жанров прибыльных фильмов
for record in data[data.profit > 0].genres_lst:
    for item in record:
        genres_profit.append(item)
        
print(f'12. Самый распространненный жанр среди прибыльных фильмов: {pd.Series(genres_profit).value_counts().index[0]}')

12. Самый распространненный жанр среди прибыльных фильмов: Drama

In [31]:
# 3. Drama
answer_dict[12] = 3

# 13. Кто из режиссеров снял больше всего фильмов?  
Варианты ответов:  
1. Steven Spielberg  
2. Ridley Scott  
3. Steven Soderbergh  
4. Christopher Nolan  
5. Clint Eastwood

In [32]:
# столбец director содержит разделитель '|', если режиссерами несколько 
# на его основе создадим столбец, содержащий список (lst),
# в котором будет перечисление режиссеров этого фильма
# и создадим список всех режиссеров
director_all = []
data['director_lst'] = [rec.split('|') for rec in data.director]
for record in data.director_lst:
    for item in record:
        director_all.append(item)
        
print(f'13. Больше всех фильмов снял: {pd.Series(director_all).value_counts().index[0]}')

13. Больше всех фильмов снял: Steven Soderbergh

In [33]:
# 3. Steven Soderbergh
answer_dict[13] = 3

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?  
Варианты ответов:  
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh  
4. Christopher Nolan
5. Clint Eastwood

In [34]:
director_profit = [] # список режисеров прибыльных фильмов
for record in data[data.profit > 0].director_lst:
    for item in record:
        director_profit.append(item)
        
print(f'14. Больше всего прибыльных фильмов снял: {pd.Series(director_profit).value_counts().index[0]}')

14. Больше всего прибыльных фильмов снял: Ridley Scott

In [35]:
# 2. Ridley Scott
answer_dict[14] = 2

# 15. Кто из режиссеров принес больше всего прибыли?  
Варианты ответов:  
1. Steven Spielberg  
2. James Cameron
3. Christopher Nolan  
4. David Yates     
5. Peter Jackson

In [36]:
# создадим словарь, где ключом будет режисер, а 
# значением - размер сборов за снятые фильмы
director_dict = {}
for director in pd.Series(director_all).unique():
    director_dict[director] = 0

for i in range(len(data)):
    for director in data.iloc[i].director_lst:
        director_dict[director] += data.iloc[i]['profit']

# Сортировку по второму значению в словаре выполним с использованием
# модуля operator и функции sorted
import operator

director_dict = sorted(director_dict.items(), key=operator.itemgetter(1), reverse=True) 
print(f'15. Больше всего прибыли у режиссера: {director_dict[0][0]}')

15. Больше всего прибыли у режиссера: Peter Jackson

In [37]:
# Можно иначе (через Counter)
director_and_profit = Counter()
for i in range(len(data)):
     for director in data.iloc[i].director_lst:
            director_and_profit[director] += data.iloc[i].profit

# метод most_common(n) возвращает n наиболее часто
# встречающихся элементов, в порядке убывания 
director_and_profit.most_common(1)

[('Peter Jackson', 5202593685)]

In [38]:
# 5. Peter Jackson
answer_dict[15] = 5

# 16. Какой актер принес больше всего прибыли?  
Варианты ответов:  
1. Emma Watson  
2. Johnny Depp  
3. Michelle Rodriguez  
4. Orlando Bloom  
5. Rupert Grint

In [39]:
# столбец cast содержит разделитель '|', если актеров несколько 
# на его основе создадим столбец, содержащий список (lst),
# в котором будет перечисление актеров этого фильма
data['cast_lst'] = [rec.split('|') for rec in data.cast]
cast_and_profit = Counter()
for i in range(len(data)):
     for cast in data.iloc[i].cast_lst:
            cast_and_profit[cast] += data.iloc[i].profit

# метод most_common(n) возвращает n наиболее часто
# встречающихся элементов, в порядке убывания 
print(f'15. Больше всего прибыли у актера: {cast_and_profit.most_common(1)[0][0]}')

15. Больше всего прибыли у актера: Emma Watson

In [40]:
#1. Emma Watson
answer_dict[16] = 1

# 17. Какой актер принес меньше всего прибыли в 2012 году?  
Варианты ответов:  
1. Nicolas Cage  
2. Danny Huston  
3. Kirsten Dunst  
4. Jim Sturgess  
5. Sami Gayle

In [41]:
data_2012 = data[data['release_year'] == 2012][['cast_lst', 'profit']]
cast_and_profit_2012 = Counter()
for i in range(len(data_2012)):
     for cast in data_2012.iloc[i].cast_lst:
            cast_and_profit_2012[cast] += data_2012.iloc[i].profit
 
print(f'17. Меньше всего прибыли в 2012 году принес актер: {cast_and_profit_2012.most_common()[-1][0]}')

17. Меньше всего прибыли в 2012 году принес актер: Kirsten Dunst

In [42]:
# 3. Kirsten Dunst
answer_dict[17] = 3

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)  
Варианты ответов:  
1. Tom Cruise  
2. Mark Wahlberg   
3. Matt Damon  
4. Angelina Jolie  
5. Adam Sandler

In [43]:
# создадим временный датафрейм фильмов с бюджетами выше среднего
big_budget = pd.DataFrame(data[data.budget > data.budget.mean()]['cast_lst'])

In [44]:
cast_big_budget = Counter()
for i in range(len(big_budget)):
    for cast in big_budget.iloc[i].cast_lst:
        cast_big_budget[cast] += 1
print(f'18. В большем количестве высокобюджетных фильмов снялся: {cast_big_budget.most_common(1)[0][0]}')

18. В большем количестве высокобюджетных фильмов снялся: Matt Damon

In [45]:
# 3. Matt Damon
answer_dict[18] = 3

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:  
1. Drama  
2. Action  
3. Thriller  
4. Adventure  
5. Crime

In [46]:
genres_Nicolas = Counter()
for i in range(len(data)):
    if 'Nicolas Cage' in data.iloc[i].cast_lst:
        for genres in data.iloc[i].genres_lst:
            genres_Nicolas[genres] += 1
print(f'19. Nicolas Cage чаще всего снимался в жанре: {genres_Nicolas.most_common(1)[0][0]}')

19. Nicolas Cage чаще всего снимался в жанре: Action

In [47]:
# 2. Action
answer_dict[19] = 2

# 20. Какая киностудия сняла больше всего фильмов?  
Варианты ответа:  
1. Universal Pictures (Universal)  
2. Paramount Pictures  
3. Columbia Pictures  
4. Warner Bros  
5. Twentieth Century Fox Film Corporation

In [48]:
# по студиям посмотрим уникальные записи
data['production_companies'].unique()

array(['Universal Studios|Amblin Entertainment|Legendary Pictures|Fuji Television Network|Dentsu',
       'Village Roadshow Pictures|Kennedy Miller Productions',
       'Summit Entertainment|Mandeville Films|Red Wagon Entertainment|NeoReel',
       ...,
       "Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|Springwood Productions",
       'Universal Pictures|Capella International|KC Medien AG|Tribeca Productions',
       'Laurence Mark Productions|Columbia Pictures Corporation|Global Entertainment Productions GmbH & Company Medien KG|Nora Ephron Productions'],
      dtype=object)

In [49]:
# видно, что столбец с киностудиями тоже содержит разделитель '|'
# на его основе создадим столбец, содержащий список (lst), 
# в котором будут перечислены киностудии из столбца 'production_companies'
# Теперь понимаю, что надо было сразу сделать всю предобработку 
# и создать отдельную функцию для столбцов с перечислениями элементов через '|' 

data['production_companies_lst'] = [rec.split('|') for rec in data.production_companies]

count_films_companies = Counter()
for i in range(len(data)):
    for compani in data.iloc[i].production_companies_lst:
            count_films_companies[compani] += 1

print(f'20. Больше всего фильмов сняла киностудия: {count_films_companies.most_common(1)[0][0]}')

20. Больше всего фильмов сняла киностудия: Universal Pictures

In [50]:
# 1. Universal Pictures (Universal)
answer_dict[20] = 1

# 21. Какая студия сняла больше всего фильмов в 2015 году?  
Варианты ответа:  
1. Universal Pictures  
2. Paramount Pictures  
3. Columbia Pictures  
4. Warner Bros  
5. Twentieth Century Fox Film Corporation

In [51]:
count_films_companies_2015 = Counter()
for i in range(len(data)):
    if (data.iloc[i].release_date).year == 2015:
        for compani in data.iloc[i].production_companies_lst:
            count_films_companies_2015[compani] += 1

print(f'21. В 2015 году больше всего фильмов сняла киностудия: {count_films_companies_2015.most_common(1)[0][0]}')

21. В 2015 году больше всего фильмов сняла киностудия: Warner Bros.

In [52]:
# 4. Warner Bros
answer_dict[21] = 4

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?  
Варианты ответа:  
1. Warner Bros  
2. Universal Pictures (Universal)  
3. Columbia Pictures  
4. Paramount Pictures  
5. Walt Disney

In [53]:
companies_genres_comedy = Counter()
for i in range(len(data)):
    for compani in data.iloc[i].production_companies_lst:
        if 'Comedy' in data.iloc[i].genres_lst:
            companies_genres_comedy[compani] += data.iloc[i].profit

print(f'22. В жанре комедий за все время больше всего денег заработала киностудия: {companies_genres_comedy.most_common(1)[0][0]}')

22. В жанре комедий за все время больше всего денег заработала киностудия: Universal Pictures

In [54]:
# 2. Universal Pictures (Universal)
answer_dict[22] = 2

# 23. Какая студия заработала больше всего денег в 2012 году?  
Варианты ответа:  
1. Universal Pictures (Universal)  
2. Warner Bros  
3. Columbia Pictures  
4. Paramount Pictures  
5. Lucasfilm

In [55]:
rich_companies_2012 = Counter()
for i in range(len(data)):
    if (data.iloc[i].release_date).year == 2012:
        for compani in data.iloc[i].production_companies_lst:
            rich_companies_2012[compani] += data.iloc[i].profit

print(f'23. В 2012 году больше всего денег заработала киностудия: {rich_companies_2012.most_common(1)[0][0]}')

23. В 2012 году больше всего денег заработала киностудия: Columbia Pictures

In [56]:
# 3. Columbia Pictures
answer_dict[23] = 3

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [57]:
# не надо было заменять строку с перечнем компаний, она пригодилась бы
films_Paramount_Pictures = data[data['production_companies'].str.contains('Paramount Pictures')][['original_title', 'profit']]

In [58]:
print(f'Самый убыточный фильм от Paramount Pictures: {films_Paramount_Pictures.iloc[np.argmin(films_Paramount_Pictures.profit.values)].original_title}')

Самый убыточный фильм от Paramount Pictures: K-19: The Widowmaker

In [59]:
# 1. K-19: The Widowmaker tt0267626
answer_dict[24] = 1

# 25. Какой Самый прибыльный год (заработали больше всего)?  
Варианты ответа:  
1. 2014  
2. 2008  
3. 2012  
4. 2002  
5. 2015

In [60]:
profit_by_year = data.groupby('release_year')['profit'].sum().sort_values(ascending=False)
best_year = profit_by_year.index[0]
print(f'25. Самый прибыльный год: {best_year}')

25. Самый прибыльный год: 2015

In [61]:
# 5. 2015
answer_dict[25] = 5

# 26. Какой Самый прибыльный год для студии Warner Bros?  
Варианты ответа:  
1. 2014  
2. 2008  
3. 2012  
4. 2010  
5. 2015

In [62]:
Warner_Bros = data[data['production_companies'].str.contains('Warner Bros')][['release_year', 'profit']]
best_year_Warner_Bros = Warner_Bros.groupby('release_year').profit.sum().sort_values(ascending=False).index[0]
print(f'26. Самый прибыльный год для студии Warner Bros: {best_year_Warner_Bros}')

26. Самый прибыльный год для студии Warner Bros: 2014

In [63]:
# 1. 2014
answer_dict[26] = 1

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?  
Варианты ответа:  
1. Январь  
2. Июнь  
3. Декабрь  
4. Сентябрь  
5. Май

In [64]:
# создадим новый столбец с названием месяца
data['release_month'] = data['release_date'].apply(lambda x: x.month)

In [65]:
best_month_for_film = data.groupby('release_month').release_month.count().sort_values(ascending=False).index[0]
print(f'27. За все годы больше всего фильмов вышло в {best_month_for_film} месяце')

27. За все годы больше всего фильмов вышло в 9 месяце

In [66]:
# 4. Сентябрь
answer_dict[27] = 4

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)  
Варианты ответа:  
1. 345  
2. 450  
3. 478  
4. 523  
5. 381

In [67]:
count_films_summer = data[(data.release_month>=6) & (data.release_month<=8)].release_month.count()
print(f'28. Cуммарно летом вышло {count_films_summer} фильмов')

28. Cуммарно летом вышло 450 фильмов

In [68]:
# 2. 450
answer_dict[28] = 2

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?  
Варианты ответов:  
1. Steven Soderbergh  
2. Christopher Nolan  
3. Clint Eastwood  
4. Ridley Scott  
5. Peter Jackson

In [69]:
winter_director = Counter()
for i in range(len(data)):
    if data.iloc[i].release_month in [12, 1, 2]:
        for director in data.iloc[i].director_lst:
            winter_director[director] += 1

In [70]:
print(f'29. Больше всего фильмов зимой выпускает: {winter_director.most_common(1)[0][0]}')

29. Больше всего фильмов зимой выпускает: Peter Jackson

In [71]:
# 5. Peter Jackson
answer_dict[29] = 5

# 30. Какой месяц чаще всего по годам самый прибыльный?  
Варианты ответа:  
1. Январь  
2. Июнь  
3. Декабрь  
4. Сентябрь  
5. Май

In [72]:
best_month = Counter()
years_lst = list(data['release_year'].unique())
for year in years_lst:
    temp_data = data[data['release_year']==year]
    best_month[temp_data.groupby('release_month')['profit'].sum().sort_values(ascending=False).index[0]] += 1
                 
print(f'30. Самый прибыльный месяц: {best_month.most_common(1)[0][0]}')

30. Самый прибыльный месяц: 6

In [73]:
# 2. Июнь
answer_dict[30] = 2

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?  
Варианты ответа:  
1. Universal Pictures (Universal)  
2. Warner Bros  
3. Jim Henson Company, The  
4. Paramount Pictures  
5. Four By Two Productions

In [74]:
# Создадим список из названий студий
production_companies_all = []
for companies in data.production_companies_lst:
    for studio in companies:
        production_companies_all.append(studio)
        
# Создадим датафрейм, где в качестве индексов будут названия компаний, а 
# в колонках: перечень фильмов, их количество, суммарное число букв,среднее число буcount_word'кв в названии,
# с суммарным и средним количеством слов в названии фильмов у каждой киностудии
films_of_studios = pd.DataFrame(columns=['films_title','count_films', 'length_all','count_word', 'mean_count_word'],  
                                         index=list(pd.Series(production_companies_all).unique()))

films_of_studios['films_title'] = ''

for i in range(len(data)):
    for studio in data.iloc[i].production_companies_lst:
        if films_of_studios.loc[studio].films_title == '' :
            films_of_studios.loc[studio].films_title = data.iloc[i].original_title
            films_of_studios.loc[studio].count_films = 1
            films_of_studios.loc[studio].length_all = len(data.iloc[i].original_title)
        else:
            films_of_studios.loc[studio].films_title += '|'+data.iloc[i].original_title
            films_of_studios.loc[studio].count_films += 1
            films_of_studios.loc[studio].length_all += len(data.iloc[i].original_title)
            
films_of_studios['maen_length'] = films_of_studios.length_all/films_of_studios.count_films

In [75]:
print(f'31. Самые длинные по количеству символов в названии фильмы у студии: {films_of_studios[films_of_studios.maen_length==films_of_studios.maen_length.max()].index}')

31. Самые длинные по количеству символов в названии фильмы у студии: Index(['Four By Two Productions'], dtype='object')

In [76]:
# 5. Four By Two Productions
answer_dict[31] = 5

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?  
Варианты ответа:  
1. Universal Pictures (Universal)  
2. Warner Bros  
3. Jim Henson Company, The  
4. Paramount Pictures  
5. Four By Two Productions

In [77]:
# Добавим в датафрейм из задания 31 колонку с суммарным и средним количеством слов 
# в названии фильмов у каждой киностудии
def count_words_all_title(s):
    count_word = len(s.replace('|', ' ').split(' '))
    return count_word   

films_of_studios['count_word'] = films_of_studios.films_title.apply(count_words_all_title)
films_of_studios['mean_count_word'] = films_of_studios['count_word'] / films_of_studios['count_films']

In [78]:
print(f'32. В среднем самые длинные по количеству символов в названии фильмы у студии: {films_of_studios[films_of_studios.mean_count_word==films_of_studios.mean_count_word.max()].index}')

32. В среднем самые длинные по количеству символов в названии фильмы у студии: Index(['Four By Two Productions'], dtype='object')

In [79]:
# 5. Four By Two Productions
answer_dict[32] = 5

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)  
Варианты ответа:  
1. 6540  
2. 1002  
3. 2461  
4. 28304  
5. 3432

In [80]:
# Сщздадим множество, в которое включим слова из фильмов (в нажнем регистре)
word_films_all = [rec.split() for rec in data['original_title']]

words_in_films = set()
for i in range(len(word_films_all)):
     for word in word_films_all[i]:
            words_in_films.add(word.lower())

In [81]:
print(f'33. В названиях фильмов используется {len(words_in_films)} разных слов.')

33. В названиях фильмов используется 2461 разных слов.

In [82]:
# 3. 2461
answer_dict[33] = 3

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?  
Варианты ответа:  
1. Inside Out, Gone Girl, 12 Years a Slave  
2. BloodRayne, The Adventures of Rocky & Bullwinkle  
3. The Lord of the Rings: The Return of the King  
4. 300, Lucky Number Slevin 
5. Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King

In [83]:
vote_average_best = data['vote_average'].quantile(0.99)

one_persent_best = data.loc[data['vote_average']>vote_average_best].original_title

In [84]:
print(f'34. В 1 % лучших по рейтингу входят фильмы:\n {one_persent_best}')

34. В 1 % лучших по рейтингу входят фильмы:
 9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
600                                   The Dark Knight
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

In [85]:
# 1. Inside Out, Gone Girl, 12 Years a Slave
answer_dict[34] = 1

# 35. Какие актеры чаще всего снимаются в одном фильме вместе  
Варианты ответа:  
1. Johnny Depp & Helena Bonham Carter  
2. Hugh Jackman & Ian McKellen  
3. Vin Diesel & Paul Walker  
4. Adam Sandler & Kevin James  
5. Daniel Radcliffe & Rupert Grint

In [86]:
actor_and_actor = Counter()
for i in range(len(data)):
    temp_list = data.iloc[i]['cast'].split('|')
    for actor_one in temp_list:
        new_list = temp_list.copy()
        new_list.remove(actor_one)
        for actor_two in new_list:
            actor_and_actor[(actor_one, actor_two)] += 1

actor_and_actor.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [87]:
# 5. Daniel Radcliffe & Rupert Grint
answer_dict[35] = 5

# 36. У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?
Варианты ответа:  
1. Quentin Tarantino  
2. Steven Soderbergh  
3. Robert Rodriguez  
4. Christopher Nolan  
5. Clint Eastwood

In [88]:
# Создадим датафрейм, где в качестве индексов будут фамилии режиссеров, а 
# в колонках: количество прибыльных фильмов, число снятых картин, 
# процент фильмов со сборами выше бюджета
# Воспользуемся списком всех режиссеров из задания 13
directors_info = pd.DataFrame(columns=['count_films','count_films_profit'],  
                                         index=list(pd.Series(director_all).unique()))
directors_info['count_films'] = 0
directors_info['count_films_profit'] = 0
for i in range(len(data)):
    temp_list = data.iloc[i]['director'].split('|')
    for director in temp_list:
        directors_info.loc[director]['count_films'] += 1
        if data.iloc[i]['profit'] > 0:
            directors_info.loc[director]['count_films_profit'] += 1

directors_info['persent_profit'] = directors_info['count_films_profit'] / directors_info['count_films']

In [89]:
# оказалось таких режиссеров много
count_best_director = len(directors_info[directors_info['persent_profit'] == directors_info['persent_profit'].max()])
print(f'У {count_best_director} режиссеров самый высокий процент фильмов со сборами выше бюджета')

У 624 режиссеров самый высокий процент фильмов со сборами выше бюджета

In [90]:
# можно предположить, что лучший из них тот, у кого больше снятых картин
best_of_best = directors_info[directors_info['persent_profit'] == directors_info['persent_profit'].max()]
best_of_best[best_of_best['count_films_profit'] == best_of_best['count_films_profit'].max() ]

              count_films  count_films_profit  persent_profit
Ridley Scott           12                  12             1.0

In [91]:
# Среди правильных ответов нет варианта Ridley Scott
# Проверим предложенных в ответах режиссеров на попадание в 
# список "режиссер с самым высокийм процентов фильмов со сборами выше бюджета"
print('Quentin Tarantino: ', 'Quentin Tarantino' in best_of_best.index)
print('Steven Soderbergh: ', 'Steven Soderbergh' in best_of_best.index)
print('Robert Rodriguez: ', 'Robert Rodriguez' in best_of_best.index)
print('Christopher Nolan: ', 'Christopher Nolan' in best_of_best.index)
print('Clint Eastwood: ', 'Clint Eastwood' in best_of_best.index)

Quentin Tarantino:  False
Steven Soderbergh:  False
Robert Rodriguez:  False
Christopher Nolan:  True
Clint Eastwood:  False

In [92]:
# 4. Christopher Nolan
answer_dict[36] = 4

# Submission

In [93]:
answer = pd.DataFrame({'Id': list(answer_dict.keys()), 'Answer': list(answer_dict.values())}, columns=['Id', 'Answer'])
answer.sort_values(by='Id')
answer

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       3
12  13       3
13  14       2
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4